extend layout 

block content 
     nav(class="navbar navbar-expand-lg")(style="background: grey; color: white; font-weight: bold;")
      .container-fluid
        a(class="navbar-brand" href="/user_dashboard")(style="color: white;") PMS USER
        button(class="navbar-toggler" type="button" 
            data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" 
            aria-controls="navbarNavAltMarkup" aria-expanded="false" 
            aria-label="Toggle navigation")
          span(class="navbar-toggler-icon")
        div(class="collapse navbar-collapse" id="navbarNavAltMarkup")
          div(class="navbar-nav")
            a(class="nav-link active" aria-current="page" href="/user_dashboard")(style="color: black;") Home
            a(class="nav-link" href="/cities_a")(style="color: white;") View Cities |
            a(class="nav-link" href="/ulogout")(style="color: white;") Logout 